<%- include('header'); -%>

    <div class="box">
        <h2>درباره من</h2>
        <p>این متن شامل معرفی نامشخصی از من است اما متاسفانه بنده خودم از شناخت خودم عاجزم چه رسد به شما! سو ساری!</p>
    </div>

<%- include('footer'); -%>